.membership-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    max-height: 500px; 
    overflow: hidden;
  }
  
  .header-image {
    width: 100%;
    height: auto;
    max-height: 500px; 
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    font-family: 'Arial Black', sans-serif; 
  }
  
  .overlay-text .line1 {
    font-size: 50px; 
    font-weight: bold;
    color: #ff6600; 
  }
  
  .overlay-text .line2 {
    font-size: 40px; 
    font-weight: bold;
    color: white;
  }
  
  .overlay-text .line3 {
    font-size: 40px; 
    font-weight: bold;
    color: #ff6600; 
  }
  
  .membership-header {
    width: 100%;
  }
  
  .plans-header {
    margin: 20px 0;
    width: 100%;
    text-align: center;
  }
  
  .plans-header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .plans-row {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    gap: 20px;
  }
  
  .plan-box {
    min-width: 500px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .plan-box h3 {
    margin-bottom: 10px;
  }
  
  .plan-box h4 {
    margin-bottom: 10px;
  }
  
  .plan-box p {
    margin-bottom: 10px;
  }
  
  .plan-box ul {
    margin-bottom: 20px;
  }
  
  .plan-box button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-style: italic;
  }
  
  .plan-box button:hover {
    background: #ff6600;
  }
  