.BookingsPage {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .sidebar-container {
    width: 25%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  .add-booking-button {
    width: auto;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .add-booking-button:hover {
    background-color: #555;
  }
  
  .main-content {
    width: 70%;
    padding: 10px;
  }
  
  .booking-form {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .booking-form h2 {
    margin-bottom: 10px;
  }
  
  .booking-form input,
  .booking-form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .booking-form div {
    margin-top: 10px;
  }
  
  .booking-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .booking-form button:hover {
    background-color: #555;
  }
  
  .bookings-list {
    text-align: justify;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .bookings-list h2 {
    margin-bottom: 10px;
  }
  
  .booking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .booking-detail {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between details */
  }
  
  .booking-detail:last-child {
    margin-right: 0; /* Remove right margin for the last detail */
  }
  
  .booking-item button {
    margin-left: 10px; /* Space between Edit and Delete buttons */
  }
  
  .booking-item span {
    display: inline-block;
    margin-right: 10px;
  }
  
  .booking-item button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .booking-item button:hover {
    background-color: #555;
  }
  