.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .profile-picture {
    margin-top: 5%;
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .profile-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-fields input, .form-fields select, .form-fields button {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .birthdate {
    display: flex;
    gap: 10px;
  }
  
  .verify-button {
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
  }
  