.class-detail {
    position: relative;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .class-detail h1{
    margin: 100px;
  }
  
  .class-detail-overlay {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 10;
  }
  
  .go-back-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
  }
  
  .class-detail-main-image-placeholder {
    width: 100%;
    height: 500px; 
    background-color: #e0e0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .additional-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .additional-photo-placeholder {
    width: 400px;
    height: 300px;
    background-color: #e0e0e0; 
    margin: 0 10px;
  }
  
  